<!DOCTYPE HTML>

<head>
    <title>Tiffany Chuang</title>
    <link rel="stylesheet" type="text/css" href="./static/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/styles.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<div class="container">
    <header id="header">
      <h1>Tiffany Chuang</h1>
    </header>

    <section class="content">
  				<!--<h2 id="pick-recipes">Pick Your Recipe(s):</h2>-->
  					<div class="polaroids">
              <!--each polaroid-->
              <div class="one-polaroid" id="p1">
  							<a class="p-title">Polaroid One
  								<img class="polaroid-image"/>
  								<div class="mask">
									<!-- <h3 class="recipe-name" th:text="${i.name}"></h3> -->
  									<div class="name-on-hover">Polaroid One</div>
                  </div>
                </a>
              </div>

              <div class="one-polaroid" id="p2">
  							<a class="p-title">Polaroid Two
  								<img class="polaroid-image"/>
  								<div class="mask">
									<!-- <h3 class="recipe-name" th:text="${i.name}"></h3> -->
  									<div class="name-on-hover">Polaroid Two</div>
                  </div>
                </a>
              </div>

  						<div class="one-polaroid" id="p3">
  							<a class="p-title">Resume
  								<img class="polaroid-image"/>
  								<div class="mask">
									<!-- <h3 class="recipe-name" th:text="${i.name}"></h3> -->
  									<div class="name-on-hover">Resume</div>
  								</div>
  							</a>
  						</div>
  					</div>
    </section>

    <!-- <div class="content">
				<h2 id="pick-recipes">Pick Your Recipe(s):</h2>

					<div class="recipes">
						<div class="one-recipe" th:each="i: ${recipes}">
							<a class="recipe-on-home" th:href="@{/recipe(id=${i.id})}">
								<img class="recipe-image" th:src="${i.imageUrl}"/>
								<div class="mask">
									<!-- <h3 class="recipe-name" th:text="${i.name}"></h3>
									<div class="recipe-name" th:text="${i.name}"></div>
								</div>
							</a>
						</div>
					</div>
			</div> -->


<body>

        <footer id="contact-me">
            <p class="return-home" id="last-return"><a href="#header">Back to the top </a></p>
            <h3>Contact me</h3>
            <ul class="links">
                <li>
                    <a href="mailto:tiffany.chuang2@gmail.com" target="_blank"><img class="social-media" src="./static/images/mailicon.png" alt="Email Me" /></a>
                </li>
                <li>
                    <a href="http://www.github.com/tiffanychuang2" target="_blank"><img class="social-media" src="./static/images/github.png" alt="GitHub" /></a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/tiffanychuang2" target="_blank"><img class="social-media" src="./static/images/linkedinicon.png" alt="LinkedIn" /></a>
                </li>
            </ul>
            <small id="copyright">Handmade by Me &copy; 2017</small>
        </footer>
</div>
    <!-- .container -->
    <script src="./static/js/app.js"></script>
</body>

</html>
