@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/*@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Noto+Serif|Playfair+Display');*/

a {
    color: #343233;
    text-decoration: none;
    text-shadow: .75px .75px #CDCED0
}

a:hover {
    color: #CDCED0;
    text-decoration: none;
}

a:visited {
    color: #343233;
    text-decoration: none;
}

body {
    background-color: white;
    /*background-image: url("../images/USA.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    font-family: 'Playfair Display', serif;
}

#plane {
  width: 10%;
}
