* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

footer {
	margin-bottom: 2rem;
	padding: 1rem;
	text-align: right;
	width: 90vw;
}

h1 {
	text-align: center;
}

h2 {
	padding-bottom: 1rem;
	padding-top: 1rem;
	text-align: center;
}

header {
	margin-top: 4rem;
	padding: 1rem;
	width: 90vw;
}

img {
	align-items: right;
	display: flex;
	max-width: 100%;
}

section {
	align-items: center;
	height: 90vh;
	padding: 1rem;
	width: 90vw;
	margin: 4rem;
}

.about-content {
	display: flex;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.dogs {
	height: 32vh;
	padding-left: 2rem;
	padding-top: 2rem;
	padding-right: 1rem;
	width: 32vw;	
}

.links {
	align-items: flex-end;
	display: flex;
	flex-direction: row-reverse;
}

.menu-bar {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
}
	.menu:first-child {
		padding-left: 1rem;
	}

	.menu:last-child {
		padding-right: 1rem;
	}

.projects {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

	.project:first-child {
		margin: 2rem;
	}

	.project:last-child {
		margin: 2rem;
	}

.return-home {
	align-items: flex-end;
	display: flex;
	flex-direction: row-reverse;
}

.screenshots {
	height: 28vh;
	width: 28vw;
}

.skills-logos {
	display: flex;
	display: grid;
	grid-gap: 25px 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: space-between;
	margin: 3rem;

}
	.skills-logo {
		margin-left: 33.333%;
		margin-right: 33.333333%;
		height: 100px;
		justify-content: center;
		width: 100px;
	}

.social-media {
	height: 30px;
	width: 30px;
}

#about-text {
	padding: 2rem;
}

#last-return {
	display: flex;
	justify-content: center;
}