@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
/*@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Noto+Serif|Playfair+Display');*/

body {
	background-attachment: fixed;
	background-image: url("../images/desktop6.JPG");
	background-size: cover;
	font-family: 'Playfair Display', serif;
	/*font-family: 'Noto Serif', serif;*/
	/*font-family: 'Libre Baskerville', serif;*/
}

footer {
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));
	border-radius: .5rem;
}

h1 {
	font-size: 65px;
}

h2 {
	background: transparent;
	border: 10px double #ABABAB;
	font-size: 42px;
}

header {
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));
	border: 10px double #ABABAB;
	border-radius: .5rem;
}

section {
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));
	border-radius: .5rem;

}

ul li {
	list-style-type: none;
} 

.menu {
	font-color: #363636;
}

.menu:hover {
	font-color: #074A07;
}

.menu:visited {
	text-decoration: none;
}

.screenshots {
	border: .5px solid white;
}