a:active,
a:hover,
a:link,
a:visited {
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
} 

li {
    grid-row-end: 2;
    grid-row-start: 1;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    align-items: center;
    display: grid;
    font-size: 20px;
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-row-start: 5;
    text-shadow: 2px 2px 8px #000000
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.contacts {
    display: grid;
    grid-row-end: 3;
    grid-row-start: 2;
}

.heading {
    display: grid;
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-items: end;
    padding: 30px;
    text-shadow: 2px 2px 8px #000000
}

.links {
    display: grid;
    grid-row-end: 2;
    grid-row-start: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

#about-par,
#experience-par {
    word-wrap: normal;
}

#contact-me {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#copyright {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}

#email {
    display: grid;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end; 3;
    grid-row-start: 2;
    justify-content: end;
}

#intro {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#linked-in {
    display: grid;
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end; 3;
    grid-row-start: 2;
    justify-content: center;
}

#github {
    display: grid;
    grid-column-end: 4;
    grid-column-start: 3;
    grid-row-end; 3;
    grid-row-start: 2;
    justify-content: start;
}