body {
    margin: 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
} 

h3 {
    margin: 0;
}

nav {
    align-items: center;
    display: grid;
    font-size: 20px;
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-row-start: 5;
    text-shadow: 2px 2px 8px #000000
}

ul {
    padding: 0;
}

.heading,
.home-nav {
    padding: 15%;
}

.heading {
    display: grid;
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-items: right;
    text-align: right;
}

.home-nav {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.home-nav li {
    grid-row-end: 2;
    grid-row-start: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.links {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.links li {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.social-media {
    height: 5vh;
    margin-left: 12vw;
    margin-right: 15px;
    width: auto;
}

.tech-skills {
    column-count: 4;
    grid-row-end: 3;
    grid-row-start: 2;
    margin: 0;
}

#about-me,
#experience {
    align-items: center;
    display: flex;
    justify-content: center;
}

#about-me,
#contact-me,
#experience {
    height: 35vh;
}

#about-me-content,
#experience-content {
    padding-bottom: 30px;
    padding-top: 20px;
}

#about-me-content {
    display: grid;
    grid-template-columns: 1fr 3fr .5fr 2.5fr .25fr .25fr .25fr .25fr;
    grid-template-rows: 8fr 1fr;
    padding-right: 40px;
}

#about-menu {
    grid-column-end: 9;
    grid-column-start: 8;
    grid-row-end: 3;
    grid-row-start: 2;
    align-content: end;
}

#about-par {
    grid-column-end: 9;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-row-start: 1;
    text-align: right;
    word-wrap: normal;
}

/* #about-par {
    display: flex;
    flex-direction: column;
} */

/* #about-title {
    grid-column-end: 3;
    grid-column-start: 2;
} */

#copyright {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}

#experience-content {
    display: grid;
    grid-template-columns: 1.5fr 4fr .2fr .2fr .2fr .2fr;
    grid-template-rows: 1fr 8fr 1fr;
    padding-right: 40px;
}

#experience-menu {
    grid-column-end: 8;
    grid-column-start: 7;
    grid-row-end: 4;
    grid-row-start: 3;
}

#experience-par {
    grid-column-start: 2;
    margin-top: 0;
    grid-row-end: 2;
    grid-row-start: 1;
}

#experience-par,
.tech-skills {
    grid-column-end: 3;
    grid-column-start: 2;
    /* margin-left: 25%;
    margin-right: 25%; */
}

#first {
    background-color: yellow;
}

#headshot {
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 1;
    height: 28vw;
    /* margin-left: 30px; */
    width: auto;
}

#intro {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    margin: 0;
    width: 100vw;
}
