@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Londrina+Sketch|Parisienne|Roboto+Condensed&display=swap');

* {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

a:active,
a:hover,
a:link,
a:visited {
    color: white;
    text-decoration: none;
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(224, 224, 224, 0.2), rgba(224, 224, 224, 0.2)), 
                    url("./images/pineapple-woods-edit.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

h3 {
    color: black;
    background-color: white;
    border: double;
    font-family: 'Parisienne', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 14px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 14px;
}

strong {
    color: white;
    font-family: 'Parisienne', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Fredericka the Great', sans-serif !important; */
    font-size: 98px;
}

#about-border,
#experience-border {
    background-color: white;
    opacity: .75;
    padding: 2px;
}

li {
    list-style-type: none;
}

#about-me {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(224, 224, 224, 0.2), rgba(224, 224, 224, 0.2)),  
                    url("./images/pineapple-table.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#about-me,
#experience {
    font-size: 6vh;
}

#about-me-content {
    background-color: white;
}

#about-par {
    display: flex;
    flex-direction: column;
}

#about-par,
#about-title {
    color: black;
}

#contact-icons {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(224, 224, 224, 0.2), rgba(224, 224, 224, 0.2)),  
                    url("./images/coffee-patio-table-crop.jpeg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#contact-me {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(224, 224, 224, 0.2), rgba(224, 224, 224, 0.2)),  
                    url("./images/coffee-meet-me-edit.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#experience {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(224, 224, 224, 0.2), rgba(224, 224, 224, 0.2)),  
                    url("./images/pineapple-grass.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#experience-content {
    background-color: grey;
}

#about-menu,
#experience-menu {
    height: 30px;
    width: auto;
}